body {
    background: #fff;
    font-size: 15px;
}

.main_content {
    width: 800px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 4.8rem;
}

.first_content {
    display: flex;
    margin-bottom: 45px;
    align-items: center; 
}

.first_heading {
   color: hsl(300, 43%, 22%);
   font-family: 'League Spartan';
   font-weight: 700;
}

.first_item {
       margin-right: 180px;
}

 .btn {
    margin: 0.3rem;
    padding: 8px 20px;
    color: hsl(300, 43%, 22%);
    font-family: 'League Spartan';
    font-weight: 500;
} 

.btn img {
    width: 10px;
}

.first_col {
    width: 250px;
}

.first_text {
    color: hsl(303, 10%, 53%);
}


.second_btn {
    margin-left: 40px;
}

.third_btn {
     margin-left: 90px;
}


.text {
    margin-left: 10px;
    font-weight: bold;
}


.second_content {
    display: flex;
    justify-content: space-between;
}



.col img {
    border-radius: 70%;
    width: 25px;
    position: relative;
    right: 50px;
    bottom: -20px;
} 

.col {
    width: 215px;
    height:150px;
    text-align: center;
    color: #fff;
    background: hsl(300, 43%, 22%);
    border-radius: 3%;
    font-weight: normal;
    font-family: 'League Spartan';
}

.last_paragraph {
   color: hsl(333, 80%, 67%);
   position: relative;
   left: -25px;
   margin-top: 7px;
}

.first_column{
    padding: 15px 20px;
}

.second_column {
    padding: 10px 20px;
    position: relative;
    bottom: -15px;
}

.third_column {
    padding: 10px 20px;
    position: relative;
    bottom: -30px;
}

.new_text {
    position: relative;
    right: 45px;
    top: 5px;
}

.last_text {
    position: relative;
    top: 5px;
    right: 42px;
    bottom: -10px;
}